:root {
    --main-bg-color: #283C48;
    --secondary-bg-color: #19303D;
    --text-color: #e0e6ed;
    --button-color: #20dfae;
}


/* contact us section */
.contact-us-section {
    /* to be changed */
    background-color: var(--main-bg-color);
    color:var(--text-color);
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%;
    justify-content: space-around;
    align-items: center;

}

.contact-us-container-left {
    grid-column: 1;
    align-content: center;
    margin: auto;

}

.contact-us-container-right{
    margin: auto;
    grid-column: 2;
    align-content: center;
    margin: auto;

}
.contact-button-getstarted {
    background-color: var(--button-color);
    color:var(--secondary-bg-color);
    grid-column: 1/3;
    grid-row: 2;
    width: fit-content;
    justify-self:center;
    align-self: start;
    
}