.languages-container {
    display: grid;
    grid-template-rows: 30% 70%;
}

.languages-icons-container {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center ;
    gap: 10%;
    justify-content: center;
}

.languages-title {
    color: var(--secondary-bg-color);
    font-size: var(--title-font-size);
    justify-self: center;
    align-self:flex-end;

}

.languages-icon {
    width: 15vh;
    height: fit-content;

}
