:root {
    --main-bg-color: #283C48;
    --secondary-bg-color: #19303D;
    --text-color: #e0e6ed;
    --button-color: #20dfae;

    --background-light: #F7F9FC;
    --background-projects: #132835;
}

