:root {
    --main-bg-color: #283C48;
    --secondary-bg-color: #19303D;
    --text-color: #e0e6ed;
    --button-color: #20dfae;
}


.meet-us-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;

}
.meet-us-title {
    /* font-size: 2rem; */
    color: var(--secondary-bg-color);
    justify-self:center;
    align-self: center;
}


.meet-us-member-main-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 5%;
    margin: 5% 10%;

}

.meet-us-member-container {
    position: relative;
    display: inline-block;
    flex-basis: 25%;
    max-width:200px;
    min-width: 50px;
    min-height: 300px;
    height: fit-content;
    
    background-size:auto;
    background-position: center;
    overflow: hidden;
    

}

.meet-us-description-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.825);
    color: rgb(0, 0, 0);
    padding: 5% 5%;
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 1s ease, transform 1s ease, visibility 0s ease 1s;
    
}

.meet-us-member-container:hover .meet-us-description-container {

    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Move to original position */
    transition: opacity 1s ease, transform 1s ease;
  }

.meet-us-icon-container {
    display: flex;
    align-content: space-around;
    gap: 10%;
    margin-top: 2%;
}

.meet-us-icon {
    width: 20px;
    transition: transform 0.3s ease;
}


.meet-us-linkedin-btn:hover .meet-us-icon{
    transform: scale(1.3);
}


.meet-us-github-btn:hover .meet-us-icon{
    transform: scale(1.3);
}

.meet-us-member-container.Patricia {
    background-image: url("/src/img/Odai-img.png"); 
}


.meet-us-member-container.Odai {
    background-image: url("/src/img/Odai-img.png"); 
}

.meet-us-member-container.Naghmeh {
    background-image: url("/src/img/naghmeh-img.png"); 
} 


.meet-us-member-container.Natalia {
    background-image: url("/src/img/Natalia-img.png");
}



   


