
  .as{
    margin: 10vh 15vh 9vh 0vh;
  }

  .image-column img {
      width: 100%;
      height: auto;
      border-radius: 5px;
  }
  
 
  @media (min-width: 768px) and (max-width: 1024px) {
      .image-column img {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
  }
  
  
  @media (min-width: 1025px) {
      .image-column img {
          width: 80%;
          margin-left: 0;
          margin-right: 0;
      }
  }
  