:root {
    --main-bg-color: #283C48;
    --secondary-bg-color: #19303D;
    --text-color: #e0e6ed;
    --button-color: #20dfae;

    --background-light: #F7F9FC;
    --background-projects: #132835;
    --background-description-container: rgba(255, 255, 255, 0.825);

    --color-description-container: rgb(0, 0, 0);
    --title-font-size: 2rem;
   /* --title font-weight: 600; */
}

body {
   
   display: grid;
   grid-template-rows: 10vh 440vh 10vh;
   grid-template-columns: 100vw;
}


.Header-Nav-Bar {
    height: 100%;
    grid-row: 1/2;
    
}

main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 50vh 100vh 60vh 70vh 60vh 100vh;
}

.hero {
    height: 100%;
    grid-row: 1/2;
}

.projects-section {
    height: 100%;
    grid-row: 2/3;
}

.contact-us-section {
    height: 100%;
    grid-row: 3/4;
}

.meet-us-section {
    height: 100%;
    grid-row: 4/5;
}

.languages-container {
    height: 100%;
    grid-row: 5/6;
}

.form-section {
    height: 100%;
    grid-row: 6/7;
}

.footer-section {
    height: 100%;
    grid-row: 3/4;
}

