

:root {
    --main-bg-color:#1B1B3C;
    --secondary-bg-color: #2D2E5F;
    --text-color: #e0e6ed;
    --button-color: #65A5DF;

    --background-light: #F7F9FC;
    --background-projects: #132835;
    --background-description-container: rgba(255, 255, 255, 0.825);

    --color-description-container: rgb(0, 0, 0);
    --title-font-size: 2rem;
    --title-font-weight: 600;
    --font-body-main: "Roboto Mono", monospace;

    --shadow-color: rgba(0, 0, 0, 0.1);
    --navbar-text-color: #e0e6ed;
    --hover-background-color: #e9ecef;
    --disabled-color: gray;
}

/* this are naghmeh colors, some have been changed  */
:root {
    --background-color: #1B1B3C;
    --button-border-color: #333;
    --button-hover-bg-color: #333;
    --button-hover-text-color: white;
   
   

    --button-bg-color:  #65A5DF; 
    --button-text-color: #333;
    --button-hover-bg:  #65A5DF; 
    --button-hover-text: #1f3924;
    --navbar-bg-color: #2D2E5F;
  
    --navbar-hover-bg-color: #2D2E5F;
    --navbar-border-color: #333;
  }


body {
    display:flex;
    flex-direction:column;
    height:auto;
    font-family: var(--font-body-main);
}

main {
    display: flex;
    flex-direction: column;
    align-content: ce;
}

/* max-width settings */
.wrap-all-container {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: fit-content;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--main-bg-color);
}

.contact-us-section {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    width: 100%;
    height: fit-content;
}

/* 
body {
    display: flex;
    flex-direction: column;
}

/* body {
   display: grid;
   grid-template-rows: 10vh 440vh 10vh;
   grid-template-columns: 100vw;
}

.Header-Nav-Bar {
    height: 100%;
    grid-row: 1/2;
    
}

main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 50vh 1fr 1fr 70vh 60vh 100vh;
}
   
.hero {
    height: 100%;
    grid-row: 1/2;
}

.projects-section {
    height: 100%;
    grid-row: 2/3;
}

.contact-us-section {
    height: 100%;
    grid-row: 3/4;
}

.meet-us-section {
    height: 100%;
    grid-row: 4/5;
}

.languages-container {
    height: 100%;
    grid-row: 5/6;
}

.form-section {
    height: 100%;
    grid-row: 6/7;
}

.footer-section {
    height: 100%;
    grid-row: 3/4;
} */
